body {
	position: relative;
	color: rgb(3, 3, 3);
}

.playlist {
	max-width: 1024px;
	margin: 0 auto;
	padding: 25px;
}

.playlist__items {
	padding: 0;
}

.snippet {
	position: relative;
	display: flex;
	margin-bottom: 20px;
	font-size: 14px;
	color: rgb(96, 96, 96);
	background-color: #f9f9f9;
}

@media (max-width: 685px) {
	.snippet {
		flex-direction: column;
		align-items: center;
	}

	
	.snippet__thumb {
		max-width: 100%;
		overflow: hidden;
	}
}

.snippet__pic {
	display: block;
	object-fit: cover;
}

.snippet__link {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

.snippet__text {
	margin-left: 20px;
}

.snippet__title {
	font-size: 20px;
	font-weight: 600;
	margin: 5px 0;
	color: rgb(3, 3, 3);
}

.snippet__published {
	margin-bottom: 15px;
}

.snippet__channel-title {
	position: relative;
	display: inline-block;
	margin-bottom: 18px;
	color: rgb(96, 96, 96);
	z-index: 9999;
}

.playlist__nav {
	display: flex;
	justify-content: center;
}

.playlist__nav > a {
	margin: 10px;
}